---
layout: default
---

<header>
	<h1>PYU.SH</h1>
</header>

<main>

{{ content }}

<hr />

  <!--{%- if site.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "Problems & their solutions" }}</h2>
    <ul class="more-space">
      {%- for post in site.categories["Solutions"] limit:10 -%}
      <li><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
      {%- endfor -%}
    </ul>
  {%- endif -%}-->

    <!--<h2>{{ "His Notes" }}</h2>-->
    <!--<h2>{{ "Utilities & Discoveries 🚀" }}</h2>
    <ul class="more-space">
      {%- for post in site.categories["SoftwareDiscovery"] limit:10 -%}
      <li><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
      {%- endfor -%}
    </ul>
     <a class="post-link" href="/lessons/" style='text-decoration:none'>.</a>
	-->
    <!--<h2>{{ "Posts" }}</h2>-->
	<br><br>
    <div class="more-space">
      {%- for post in site.categories["Notes"] limit:10 -%}
      	<p>
		 <b>{{ post.date | date: "%B %-d, %Y" }} </b>- 
	      	<a class="post-link" href="{{ post.url | relative_url }}">
	      		{{ post.title | escape }}
	      	</a>
	</p>
      {%- endfor -%}
    </ul>
	
   

</main>
